
body{
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
  font-family: poppins, sans-serif;
    display: flow-root;
}

.logo{
 padding-top: 8px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}
.nav ul{
    list-style: none;
    display: flex;
    
}
.nav li{
    margin: 0 15px;
    list-style: none;

}
.nav a{
    text-decoration: none;
    color: black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700; 
  font-size: 15px;
    margin: 0 14px;
}
.location-dropdown{
  position: relative;
  display: inline-block;
  
}

/* Button */
.location-btn{
  background: #e21b70;
  color: #fff;
  padding: 10px 18px;
  border-radius: 25px;
  
            
  cursor: pointer;
  
  position: relative;
  top: -3px;  
}

/* Dropdown box */
.dropdown-menu{
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 180px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  z-index: 10;
}

/* Dropdown items */
.dropdown-menu a{
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  color: #e21b70;
  border-bottom: 1px solid #eee;
}

.dropdown-menu a:hover{
  background: #f9f9f9;
}

/* Hover effect */
.location-dropdown:hover .dropdown-menu{
  display: block;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
   height: 64px;
   border-bottom: 1px solid #e5e5e5;
     box-shadow: 0 1px 0 rgba(0,0,0,0.08);
       background: #fff;
  border-bottom: 1px solid #eee;
  

}
.location-btn{
  transform: translateY(-2px);
  transition: 0.2s ease;
}

.location-btn:hover{
  background: #c21760;
}
.search-icon {
  position: relative;
  top: 1px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.nav a:hover{
    
    border-top: #c21760 solid 2px;
    padding-top: 12px;
  transition: 0.3s ease;

}
.video-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

/* Video styling */
.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Text content */
.content {
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}

.content h1 {
color: white;
    
    font-size: 70px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    margin-left: 60px;
}

.video-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.main-content h1{
    color: white;
    padding: 60px 0 0 50px;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    margin-left: 60px;
}
.textarea{  
    margin-left: 90px;
    margin-top: 130px;
   margin-bottom: 100px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 800;
font-size: 18px;
}
.image1 img{
    width: 600px;

}
.text1 h1{
   font-weight: 900;
    font-size: 36px;
}
.text1 p{
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.but button{
    background-color: #e21b70;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}
.but button:hover{
    background-color: #e175a4;
}
.section1{
    display: flex;
    justify-content: space-between;
    padding: 50px 90px 0 90px;
}
.image2 img{
    width: 600px;
    height: 300px;
}
.section2{
    display: flex;
    justify-content: space-between;
    padding: 50px 90px 0 90px;
    margin-bottom: 100px;
    margin-top: 140px;
}
.text1 p{
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.text1 h1{
   font-weight: 900;
    font-size: 36px;
}
.image3 img{
    width: 600px;
    
}
.section3{
    display: flex;
    justify-content: space-between;
    padding: 50px 90px 0 90px;
    margin-bottom: 100px;
    margin-top: 140px;
}
.but2 button{
    background-color: #e21b70;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}
.but2 button:hover{
    background-color: #e175a4;
}
.text3 p{
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.text3 h1{
  padding-top: 60px;
   font-weight: 900;
    font-size: 36px;
}
.text-center{
    text-align: center;
   font-weight: 700;
    font-size: 25px;
  }
  .para{
    font-size: 18px;
    margin-top: 10px;
  
    text-align: center;
  }
  .cards-section{
    border: 1px solid #e5e5e5;
     box-shadow: 0 1px 0 rgba(0,0,0,0.08);
       background: #e1dbdb;
  }
.cards-container{
  display: flex;
  gap: 90px;
  overflow-x: auto;
  justify-content: center;
  /* padding: 20px; */
  margin-bottom: 160px;
  margin-top: 80px;
}

.card{
  position: relative;
  width: 300px;
  height: 420px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card:hover img{
  transform: scale(1.1);
}

.overlay{
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2));
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card.pink .overlay{
  background: linear-gradient(to top, rgba(232,68,153,0.9), rgba(232,68,153,0.4));
}

.tag{
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 8px;
}

.overlay h3{
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.date{
  font-size: 14px;
  opacity: 0.8;
}
.section4{
      display: flex;
    justify-content: space-between;
    padding: 50px 90px 0 90px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.image4 img{
    width: 550px;
    margin-left: 30px;
}
.but4 button{
    background-color: #e21b70;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}
.but4 button:hover{
    background-color: #e175a4;
}
.text4 h1{
   font-weight: 900;
    font-size: 36px;
}
.text4{
    margin-left: 20px;
}
.text4 p{
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.footer{
    margin-top: 100px;

}
.footer-content{
  background-color: black;
    color: white;

    
    
    padding: 40px 20px;

  
    
}
.footer-content img{
margin-left: 30px;
    width: 120px;
    
    margin-top: 30px;
    justify-content: first baseline;
}


.lists{
    display: flex;
    list-style: none;
    margin-top: 20px;
    padding: 20px;
    gap: 300px;
    font-weight: 500;
}
.lists li{
    margin: 0 15px;
    list-style: none;
}
.lists a{
    text-decoration: none;
    color: white;
   font-family:poppins, sans-serif;
    font-weight: 500; 
  font-size: 14px;
    margin: 0 14px;
}
.lists a:hover{
    color: #e21b70;
}
.lists h5{
  font-weight: 700;
  font-size: 16px;
}

.social-icons{
    display: flex;
    justify-content: space-around;
    font-size: 500px;
    margin-top: 20px;
}
.social-icons img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.social-icons img:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}
.social-icons{
    margin-right: 50px;
}
.social-icons a{
    text-decoration: none;
    color: white;
    font-family:poppins, sans-serif;
    font-weight: 500;
  font-size: 30px;
}
.heading{
    text-align: center;
  display: flex;
}
.p{
  margin-left: 30px;
}
.text h1{
    color: white;
    padding-top: 150px;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    margin-left: 60px;
}
.herosection{
    background-image: url(./assets/about-foodpanda.webp);
    background-size: cover;
    background-position: center;    
    
    width: 100%;
    height: 400px;
    margin-top: -60px;
    
  
}

.textarea2{  
    margin-left: 90px;
    margin-top: 120px;
   margin-bottom: 100px; 
   font-family: poppins, sans-serif; 
}
.textarea2 p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
  }
  .textarea2 h2{
    font-size: 200%;
    font-weight: 900;
    margin-bottom: 20px;
    font-family: poppins, sans-serif;
  }
  .write p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
  }
  .write h2{
    font-size: 200%;
    font-weight: 900;
    margin-top: 20px;
    font-family: poppins, sans-serif;
  }
  .double{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    margin-bottom: 100px;
    margin-top: 120px;
    background-color: #f3e4e4;
  }
  .pic img{
    width: 560px;
    height: fit-content;
    border-radius: 10px;
  
  }
  .values {
  text-align: center;
  padding: 100px 20px;
}

.values h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom:50px;
}

.values-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.row {
  display: flex;
  gap: 22px;
  justify-content: center;
  flex-wrap: wrap;
}

/* pill design */
.pill {
  padding: 14px 28px;
  border-radius: 999px;
  border: 2px solid #e21b70;
  color: #e21b70;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

/* center black pill */
.pill.dark {
  background: #000;
  color: #fff;
  border: none;
}
.pill:hover {
  background: #e21b70;
  color: #fff;
  transition: 0.3s ease;
}
.double2{
    display: flex;
    justify-content: space-evenly;
    padding: 0 80px 0 80px;
    margin-bottom: 100px;
    margin-top: 120px;
   
  }
  .pic2 img{
    width: 460px;
    height: fit-content;
    border-radius: 10px;
  
  }
  .write2 {
  
  padding: 100px 20px;
}
  .write2 h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom:50px;
}

.photo img{
    width: 600px;
  gap: 20px;
}
.team h1{
   font-weight: 900;
    font-size: 36px;
}
.team p{
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.panda-team{
    display: flex;
    justify-content: space-between;
    padding: 50px 90px 0 90px;
    margin-bottom: 100px;
    margin-top: 140px;
    background-color: #dcd2d2;
}
.team{
  margin-top: 70px;
}
